<config>
    <plugins>
        <dev_buffer>
            <placement>prepend</placement>
            <source>&includepath;plugins/dev_buffer/dev_buffer.php</source>
            <excludes>themed-css,xml-sitemap,license</excludes>
        </dev_buffer>
        <nx_auth>
            <placement>prepend</placement>
            <source>&includepath;plugins/nx_auth.php</source>
            <login>auth.php?nid=login</login>
        </nx_auth>
    </plugins>
</config>