<config>
    <defaults>
        <use_interactive_space_plans>false</use_interactive_space_plans>
        <upload_directory></upload_directory>
    </defaults>
    <plugins>
        <dev_buffer>
            <placement>prepend</placement>
            <source>&includepath;plugins/dev_buffer/dev_buffer.php</source>
            <excludes>ifp-themed-css,dynamic-css,dynamic-database-model,xml-sitemap,license,readme</excludes>
        </dev_buffer>
        <nx_auth>
            <placement>prepend</placement>
            <source>&includepath;plugins/nx_auth.php</source>
            <login>auth.php?nid=login</login>
        </nx_auth>
    </plugins>
</config>