<config>
    <defaults>
        <use_interactive_space_plans>false</use_interactive_space_plans>
        <upload_directory></upload_directory>
    </defaults>
    <files>
        <file_locations>
            <file_location id="1">
                <name>default</name>
                <write_location>ftp://wwww.example.com/</write_location>
                <read_location>http://www.example.com/</read_location>
            </file_location>
        </file_locations>
        <file_paths>
        </file_paths>
    </files>
    <extensions>
        <nexista_cache>
            <placement>prepend</placement>
            <source>&includepath;extensions/nexista_cache.php</source>
            <active>1</active>
            <timer_excludes>1</timer_excludes>
            <excludes></excludes>
            <purge_gates>list-of-gates,logout</purge_gates>
            <purge_gets>from_date</purge_gets>
        </nexista_cache>
        <dev_buffer>
            <placement>prepend</placement>
            <source>&includepath;extensions/dev_buffer/dev_buffer.php</source>
            <sitemap>&includepath;extensions/dev_buffer/sitemap.xml</sitemap>
            <excludes>--,ifp-themed-css,dynamic-css,dynamic-database-model,xml-sitemap,license,readme</excludes>
        </dev_buffer>
        <nexista_auth>
            <placement>prepend</placement>
            <source>&includepath;extensions/nexista_auth.php</source>
            <login>auth.php?nid=login</login>
        </nexista_auth>
    </extensions>
</config>