html, body {
	line-height: 120%;
	background: #CCC;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	margin:  0;
	padding: 0;
	border:  0;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px;
}

a {
    color: fuchsia;
}
img {
    border: 0;
}
h1 {
    display: inline;
    float: right;
}

#top-main-menu {
    display: block;
    border: 1px;
    padding: 3px;
    border-style: solid;
    border-color: #CCC;
    background-color: #DDD;
    }

ul.main-menu, .main-menu ul {
    margin: 0;
	padding: 0;
	cursor: default;
	list-style-type: none;
	display: inline;
}
ul.main-menu {
	display: table;

}
ul.main-menu li {
	display: table-cell;
	position: relative;
	padding: 2px 6px;
    color: #777;
	padding: 5px;
    padding-left: 10px;
    font-size: 14px;
}
a.main-menu:hover {
	color:red;
}

#page {
    width: 768px;
    padding: 5px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
	background: #FFF;
}
#content {
    margin: 5px;
    min-height: 480px;
}

#footer {
    text-align: center;
}

.simple-table {
    border-spacing: 1px;
    background-color: #CCC;
    width: 100%;
    margin-bottom: 10px;
}

.simple-table td {
    background-color: #FFF; padding: 5px;
}

.simple-table thead th {
    background-color: #EEE; padding: 5px;
}

.generic-button {
    text-align: center;
    margin-left: 5px;
}

.generic-button a {
    padding: 2px 5px 2px 5px;
    border: 2px; border-style: solid;
    border-color: #BBB;
    text-align: center;
}

.generic-button img {
    margin-bottom: -4px; margin-right: 6px;
}

a.generic-button {
    padding: 2px 5px 2px 5px; border: 2px; border-style: solid; border-color: #BBB;
    text-align: center;
}

